.root {
  padding: 1rem;
}

.tabs {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ccc;
  overflow-x: auto;
}

.tab {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1rem;
  white-space: nowrap;
  transition:
    color 0.3s,
    border-bottom 0.3s;

  &.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    font-weight: bold;
    white-space: nowrap;
  }
}

.content {
  margin-top: 1rem;
}
